// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.learn-to-type {
  background-color: lightgrey;
  padding: 4px;
  border-radius: 10px;
}
.row {
  display: flex;
}
.keypad {
  background: black;
  margin: 4px;
  padding: 0px 6px;
  text-align: center;
  color: white;
  border-radius: 5px;
  border: 2px solid black;
}
.selected-keypad {
  background: white;
  color: black;
}
.transparent-panel::before {
  background-color: transparent !important;
}

#keyboard-right-panel {
  display: block;
}
